img {
  border: none !important;
}

.fragment.fade-up:not(.visible) {
  display: none !important;
}

.fragment.fade-out.visible {
  display: none !important;
}

pre.regex {
  padding: 5px;
  background: white;
  text-align: center;
  /*width: max-content;*/
}
